watch_file .tool-versions

asdf_has java || asdf plugin-add java
asdf_has python || asdf plugin-add python
asdf install
use asdf

layout python-venv

has pipx || use pipx
has pre-commit \
  || pipx install 'pre-commit>=2.10.0'
has detect-secrets \
  || pipx install detect-secrets

use pre-commit

export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)")")")"

dotenv_if_exists
