watch_file .tool-versions

use asdf
asdf_has java || asdf plugin-add java
asdf_has python || asdf plugin-add python
asdf install

layout python-venv

use pipx
has pre-commit \
  || pipx install 'pre-commit>=2.10.0'
has detect-secrets \
  || pipx install detect-secrets

use pre-commit

export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)")")")"
